table {
    width: 100%;
    margin: 8px;
}

table, th, td {
    border: 1px solid gray;
    padding: 15px;
    font-size: 15px;
    text-align: center;
}
#address{
    width:70%;
}

img {
    margin-bottom: 5px;
}
