@{ 
    ViewData["Title"] = "لیست کاربران";
}
@section Styles{ 
<link rel="stylesheet" href="~/css/usercss.css" asp-append-version="true" />
}
<div class="container text-center mt-5 p-5 bg-warning text-dark h-25 w-75 border border-5 border-dark shadow" style="font-family:yekan;">
    <div class="row justify-content-center">
        <div class="col-6">
            <a asp-action="Excel" class="btn btn-lg btn-dark">اکسل<br />
            <i class="h2 bi bi-file-excel" style="color:darkgreen"></i></a>
        </div>
        <div class="col-6">
            <a asp-action="CreatePdf" class="btn btn-lg btn-dark">پی دی اف<br />
            <i class="h2 bi bi-file-pdf" style="color:crimson"></i></a>
        </div>
    </div>
</div>