@section Styles{ 
<link rel="stylesheet" href="~/css/usercss.css" asp-append-version="true" />
}
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .skew_container  {
        margin: 50px auto;
        overflow: hidden;
        padding-bottom: -20%;
     }

        .skew_container .skew_bg {
            height: 650px;
            text-align: center;
            padding-top: 350px;
            margin-top: -35%;
            transform: skew(0deg, -35deg); /*THIS WILL DO THE MAGIC*/
            background-color: #25008a;
            background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
        }
     
     .skew_container .skew_bg .content {
        color: #fff;
        transform: skew(0deg, 35deg); /* MAKE CONTENT HORIZENTAL */
     }
</style>
<div class="skew_container mt-5 p-5">
    <div class="container">
        <div class="skew_bg bg1">
            <div class="content">برای تکمیل فرم روی دکمه زیر کلیک کنید</div> <br />
            <a asp-controller="Home" asp-action="AddUser" class="btn btn-lg btn-dark text-white content">کلیک کنید</a>
        </div>

    </div>
</div>


