@font-face {
    font-family: 'yekan';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/pixelboy-BYekan.eot');
    src: url('/fonts/pixelboy-BYekan.eot?#iefix') format('embedded-opentype'), url('/fonts/pixelboy-BYekan.woff') format('woff'), url('/fonts/pixelboy-BYekan.ttf') format('truetype');
}
@font-face {
    font-family: 'farnaz';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/pixelboy-BFarnaz.eot');
    src: url('/fonts/pixelboy-BFarnaz.eot?#iefix') format('embedded-opentype'), url('/fonts/pixelboy-BFarnaz.woff') format('woff'), url('/fonts/pixelboy-BFarnaz.ttf') format('truetype');
}
@font-face {
    font-family: 'nazanin';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/pixelboy-BNazanin.eot');
    src: url('/fonts/pixelboy-BNazanin.eot?#iefix') format('embedded-opentype'), url('/fonts/pixelboy-BNazanin.woff') format('woff'), url('/fonts/pixelboy-BNazanin.ttf') format('truetype');
}
form{
    font-family: yekan;
    font-size:18px;
}
#allusers {
    font-family: yekan;
    font-size:18px;
}
.content{
    font-family:farnaz;
    font-size:30px;
    font-weight:bold;
}
span{
    font-family:yekan;
    font-size:15px;
}
.complete{
    font-family:farnaz;
    font-size:20px;
    font-weight:bold;
}
.submit-progress{
    text-align:center;
    top:30%;
    height:10%;
    bottom:50%;
    position:absolute;
    right:30%;
    left:30%;
    padding:10px;
    border:solid 5px #000000;
    font-family:yekan;
}
